// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
//@import "../node_modules/bootstrap/scss/nav";
//@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";

@import "../js/pace";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

$font-family: 'Noto Sans', Verdana, Arial,"Arial Unicode MS",sans-serif;
$color-primary-0: #343D4A;
$color-primary-1: #4C5767;
$color-primary-1-1: #6A7483;
$color-primary-2: #1F2937;

#normals-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#normals-display span {
  display: inline;
  background: aliceblue;
  border-radius: 3px;
  font-size: 10px;
  margin:1px;
  padding:2px;
  white-space: nowrap;
}
body {
  margin: auto auto;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  word-break: normal;
  overflow-y: scroll;
  max-width: 1600px;
}
#body-div{
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}
.card {
  margin: auto auto;
}
.navbar-nav {
  flex-wrap: wrap;
}
.nav-item {
  min-width: 100px;
}
a.nav-link img {
  max-height: 1.2em;
}
.navbar {
  background-color: $color-primary-0 !important;
  @media only print {
    background: black;
    color: white;
  }
  a:hover {
    color: white !important;
  }

  .navbar-brand {
    img { vertical-align: baseline; }
    #nav-title {
      margin-left: 0.25em;
      display: inline-block;

      #slogan {
        font-size: 50%;
        margin-top: -0.5em;
      }
    }
  }
}
#search-form {
  background-color: #f2f1ef;
  padding: 0.25rem;
  height: 3rem;
  #btnSideMenu {
    align-self: center;
    height: 38px;
    display: none;
    img {
      height: 1.5em;align-self: center;margin-right: 1.0em;margin-left: 0.5em;
      transition: transform 0.2s ease-in-out;
    }
  }
  button, input {
    border-color: #ced4da;
  }
  button {
    &:hover {
      background-color: $color-primary-0;
      img {
        filter: invert(1) brightness(2);
      }
    }
    img {
      margin-top: 0.25em;
      margin-right: 0.1em;
      vertical-align: text-top;
      transition: filter .15s ease-in-out;
    }
  }
}
#bookSelector {

}
#bookSelector .section {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  gap: 5px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  #bookSelector .section {
    grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
    gap: 1px;
    padding:5px;
    font-size: 90%;
    text-overflow: ellipsis;
    font-weight: normal;
  }
}
.book {
  background-color: #4d375a;
  padding:10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.flex-break {
  flex-basis: 100%;
}

.div {
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
div::-webkit-scrollbar {
  width: 20px;
}
div::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 0px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #000000a4;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 1.749690125em;
  font-weight: 700;
  line-height: 1.25;
}
ul {
  list-style-type: none;
}
a {
  color: #4a6da7;
  text-decoration: none;
}
ol, ul {
  padding-left: 0;
}
.result {
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: #4477a1;
    font-size: 1.2em;
    font-weight: 300;
  }
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  a {
    &.active{
      font-weight: bold;
      background-color: #8230b1;
      color: white;
    }
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    color:black;
    background-color: #faf8fc;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover{
      background-color: #4d375a;
      color: white;
    }
    span{
      display: inline-block;
      margin: auto auto;
    }
  }
  .random {
    width: 10em;
    white-space: nowrap;
    background-color: orange;
  }
}
#startExactSearch {
  vertical-align: baseline;
}
.directory {
  .item{
    //min-height: 48px;
    &:not(:first-child) {
      border-top: 1px solid #dbd8d3;
    }
    a.active {
      font-weight: bold;
    }
    &:hover, a.active {
      background-color: #faf8fc;
      .icon {
        //width:2em;
      }
      .thumbnail{
        background-color: $color-primary-1-1;
      }
    }
    .thumbnail{
      //min-height: 48px;
      width: 48px;
      background-color: $color-primary-1;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-shrink: 0;
      transition: background 200ms;
      img {
        max-height: 32px;
        max-width: 32px;
      }
      span {
        width: 100%;
        max-height: 32px;
        max-width: 32px;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../images/icons/bk.svg');
      }
      .icon-vod { background-image: url('../images/icons/closed-captioning.svg'); }
      .icon-bk, .icon-bi { background-image: url('../images/icons/bible.svg'); }
      .icon-bk { background-image: url('../images/icons/book.svg'); }
      .icon-bklt, .icon-kn, .icon-brch { background-image: url('../images/icons/brch.svg'); }
      .icon-g { background-image: url('../images/icons/g.svg'); }
      .icon-km, .icon-mwb,.icon-news { background-image: url('../images/icons/km.svg'); }
      .icon-manual { background-image: url('../images/icons/manual.svg'); }
      .icon-trct { background-image: url('../images/icons/trct.svg'); }
      .icon-w { background-image: url('../images/icons/w.svg'); }
      .icon-web { background-image: url('../images/icons/web.svg'); }
      .icon-images { background-image: url('../images/polaroid.svg'); }
    }
    &.folder {
      .thumbnail {
        background-color: $color-primary-2;
      }
      & ~ .item {
        margin-left: 5px;
      }
    }
    .detail {
      align-self: center;
      margin-right: 1em;
      text-align: right;
    }
    .arrow {
      align-self: center;
      .icon{
        background-image: url('../images/chevron-right-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width:1em; height: 1em;
      }
      .icon-rev{
        background-image: url('../images/chevron-left-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width:1em; height: 1em;
      }
    }
    a {
      display: flex;
    }
    .title {
      padding-top: 1em;
      padding-bottom: 1em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      flex-grow: 1;
      flex-direction: column;
      display: flex;
    }
    .title:has(.subtext){
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    .subtext {
      font-size: 90%;
    }
    &.chapter .title {
      padding-top: .1em;
      padding-bottom: .1em;
      max-height: 3.2em;
      overflow: hidden;
    }
  }
}
mark {
  color: black;
  background-color: #ffe87c;
}
.txtDoc {
  white-space: pre-wrap;
}
.result .ref {
  font-size: .9em;
  color: #999;
  display: inline-block;
  margin-top: 0.3em;
}

#secondaryNavContent {
  position: fixed;
  top: 124px;
  width:450px;
  height: calc(100vh - 124px);
  overflow-y: auto;
  background-color: #f2f1ef;
  transition: width 0.4s ease-in-out;
  h1 {
    font-size: 1.3em;
    color: #64605d;
    padding: 0.5em 0;
    border-bottom: 1px solid #d6dbe1;
  }
}
#fixedHeader {
  position: fixed;
  @media print {
    position: relative;
  }
  top: 0;
  width: 100%;
  max-width: 1600px;
  z-index: 10;
  box-shadow: 0 2px 2px 0 #0000004d;
  transition: top 0.4s ease-in-out;
}
#fixedHeader .navbar {
  height: 77px;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  .navbar-brand {
    font-size: 30px; //Icon is 2em = 60px
  }
}
#currentFileBox {
  display: none !important;
}

@media only screen and (min-width: 1201px) {
  #regionBodyInner {
    margin-left: 450px;
    padding: 1em 80px 5em 80px;
  }
  #regionMain {
    padding-top: 124px;
    min-height: 100vh;
  }
  #secondaryNavContent {
    position: fixed;
    top: 124px;
    width:450px;
    height: calc(100vh - 124px);
  }
}
@media print, only screen and (max-width: 1200px){
  #fixedHeader .navbar {
    height: 3rem;
    color: white;
    .navbar-brand {
      font-size: 20px; //Icon is 2em = 60px
    }
  }
  #regionBodyInner {
    margin-left: 350px;
    padding: 1em 50px 5em 50px;
  }
  #regionMain {
    padding-top: 6em;
    min-height: 100vh;
    @media print {
      padding-top: 0;
    }
  }
  #secondaryNavContent {
    position: fixed;
    top: 6rem;
    width:350px;
    height: calc(100vh - 6rem);
  }
}
@media only screen and (max-width: 900px) {
  #regionBodyInner {
    margin-left: 300px;
    padding: 1em 50px 5em 50px;
  }
  #secondaryNavContent {
    position: fixed;
    width:300px;
  }
}
@media print, screen and (max-width: 800px) {
  #regionBodyInner {
    margin-left: 0;
    padding: 1em 50px 5em 50px;
  }
  #secondaryNavContent {
    z-index: 6;
    position: fixed;
    width:0;
    #sidebarInner {
      width: 320px;
      width: calc(min(450px, 80vw) - 11px);
      float:right;
    }
  }
  #docDisclaimer {
    @media screen {
      margin-top: 100px;
    }
  }
  #currentFileBox {
    display: block !important;
    width: 100%;
    @media screen {
      position: fixed;
      top: 6em;
      height: 0;
    }
    z-index: 1;
    transition: top 0.4s ease-in-out, padding 0.4s ease-in-out;
    @media screen {
      body.nav-up & {
        position: fixed;
        top: 0;

        .item, .thumbnail {min-height: 16px;}
        img {
          max-height: 16px;
        }
        .item {
          .title {
            padding-top: 0.1em;
            padding-bottom: 0.1em;
          }
        }
      }
    }
    .item {
      background-color: white;
      margin-left: 0;
      .item, .thumbnail, img {
        transition: max-height 0.4s ease-in-out, min-height 0.4s ease-in-out;
      }
      .title {
        transition: padding 0.4s ease-in-out;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
      .arrow {
        display: none;
      }
    }
    .item:last-child{
      box-shadow: 0 2px 2px 0 #0000004d;
    }
  }

  #searchBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    touch-action: none;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0);
    transition: visibility 0.4s ease-in-out, background-color 0.4s ease-in-out;
    visibility: hidden;
  }
  #btnSideMenu {
    display: flex !important;
  }
  .showSideMenu {
    #btnSideMenu {
      img {
        transform: scaleX(-1);
      }
    }
    #searchBackdrop {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.50);
    }
    #secondaryNavContent {
      width: 80vw !important;
      max-width: 450px;
      transition: width 0.4s ease-in-out;
    }
  }

  body.nav-up:not(.showSideMenu) {
    #fixedHeader {
      top: -6em;
    }
  }

}
@media only screen and (max-width: 480px) {
  #regionBodyInner {
    padding: 1em 16px 5em 16px;
  }
}
ul.searchNav {
  font-size: .9em;
}
.searchNav li, .searchNav ul, ul.searchNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.searchNav>li {
  padding: 0.5em 0;
  cursor: pointer;
}
.searchNav>li:hover {
  transition: border,background 200ms;
  background-color: #fff;
}

#searchFilterContainer {
  min-height: 300px;
  overflow-y: auto;
  padding-left: 4%;
}

.searchNav>li:not(:first-child) {
  border-top: 1px solid #dbd8d3;
  border-top-color: rgb(219, 216, 211);
}
.ts {
  color: #0486d3;
  font-style: italic;
  cursor: pointer;
}


#tooltip {
  position: absolute;
  max-width: 30em;
  top: 40vh;
  left: 40vw;
  background-color: white;
  box-shadow: 0px 8px 30px 5px #000000cc;
  max-height: 50vh;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 1;

  @media only screen and (max-width: 600px) {
    left: 2rem !important;
    right: 2rem !important;
  }

  .h3 {}
  #tooltip-body {
    .scripture-header {
      background: #f2f1ef;
      padding: 0.75em 1em;
      color: $color-primary-0;
      position: sticky;
      top: 0;
      box-shadow: 0 2px 2px 0 #0000006e;
    }
    p {
      padding: 0.25em 1em 0.25em 1em;
      font-size: 16px;
    }

    b {
      color: $color-primary-0;
      font-weight: 700;
      padding-right: 0.25em;
      font-family: $font-family;
    }
    .credit{
      font-size: 10px;
      margin-bottom: 0;
    }
    .serif {
      font-family: 'Merriweather', 'Times New Roman', serif;
    }
    .verse {
      span:not(:first-child) {
        padding-left: 2em;
      }
      span.indent {
        padding-left: 3em;
        display: block;
      }
    }
  }
}

a.lookupScripture {
  font-weight: 600;
}

#docDisclaimer {
  background-color: $color-primary-1-1;
  a {
    color: white;
    text-decoration: underline;
  }
  color: white;
  padding: 1em;
  margin-bottom: 1em;
}

.finder-activator {
  //@media only screen and (min-width: 600px) {
  //  display: none;
  //}
  position: fixed;
  bottom: 5px;
  right: 15px;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100%;
  background-color: $color-primary-1;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: $color-primary-1-1;
  }
  &:focus{
    background-color: $color-primary-0;
  }
  img {
    filter: invert(1) brightness(2);
    max-height: 50%;
  }
}
.finder {
  position: fixed;
  bottom: -50px;
  max-width: 800px;
  margin: auto;
  right: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  background: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  transition: bottom 0.15s ease-out;
}

.finder.active {
  bottom: 0;
}
.finder-input {
  font-size: 16px;
  flex-grow: 1;
  width: 0;
  height: 40px;
  border: none;
  padding: 8px;
  outline: none !important;
}
.finder-input.not-found {
  color: #e7353f;
}
.btn-finder {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
}
.finder-input,
.btn-finder:not(:last-child) {
  margin-right: 5px;
}
.finder-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #888;
  border-right: 1px solid #e5e5e5;
  margin-right: 5px;
  padding-right: 20px;
  white-space: nowrap;
}
.btn-finder,
.finder-count {
  flex-shrink: 0;
  flex-grow: 0;
}
mark.active {
  background: #ffd71b;
  box-shadow: 1px 1px black;
  position: relative;
}
.far, .fas, .fa {
  min-width: 1em;
  min-height: 1em;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-style: normal;
}
.fa-times {
  background-image: url('../images/close.svg');
}
.fa-angle-down {
  background-image: url('../images/chevron-down-icon.svg');
}
.fa-angle-up {
  background-image: url('../images/chevron-up-icon.svg');

}
.document img {
  max-width: 100%;
}

.imageFlow {
  @media screen and (min-width: 601px) {
    display: flex;
    flex-wrap: wrap;
    &::after {
      content: '';
      flex-grow: 999999999;
    }
    div {
      margin: 2px;
      background-color: #ffffff;
      position: relative;
      //max-width: 49%;
    }
    i {
      display: block;
    }
    img {
      position: absolute;
      top: 0;
      width: 100%;
      vertical-align: bottom;
    }
    @media screen and (min-width: 1000px) {
      img:hover {
        z-index: 2;
        min-width: 400px;
        box-shadow: 0 0 20px 10px #000;
        top: -40px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    display: block;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;

    -webkit-column-gap: 3px;
    -moz-column-gap: 3px;
    column-gap: 3px;
    div {
      width: unset !important;
      flex-grow: unset !important;

      display: inline-block;
      width: 100%;

      img {
        display:block;
        width: 100%;
      }
      i {
        padding-bottom: unset !important;
      }
    }
  }
}
#regionMain:has(.imageFlow){
  background-color: #343d4a;
  #regionBodyInner {
    margin-left: 0;
    @media screen and (max-width: 1600px) {
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
  #secondaryNavContent {
    display: none;
  }
}
.input-group .btn {
  z-index: 1;//Bootstrap default is z-index: 2
}

#tidio-chat-iframe {
  bottom: 60px !important;
}
button {
  touch-action: manipulation;
}
.w-auto {
  width: auto;
}
.d-inline-block{
  display: inline-block;
}
