
#normals-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#normals-display span {
  display: inline;
  background: aliceblue;
  border-radius: 3px;
  font-size: 10px;
  margin:1px;
  padding:2px;
  white-space: nowrap;
}
body {
  margin: auto auto;

  font-family: 'Noto Sans',Arial,"Arial Unicode MS",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-break: normal;
  overflow-y: scroll;
}
#body-div{
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}
.card {
  margin: auto auto;
}
.navbar-nav {
  flex-wrap: wrap;
}
.nav-item {
  min-width: 100px;
}
a.nav-link img {
  max-height: 1.2em;
}
.navbar {
  background-color: #581697 !important;
}
#search-form {
  background-color: #f2f1ef;
  padding: 0.25rem;
  #btnSideMenu {
    align-self: center;
    height: 38px;
    display: none;
    img {
      height: 1.5em;align-self: center;margin-right: 1.0em;margin-left: 0.5em;
      transition: transform 0.2s ease-in-out;
    }
  }
  button, input {
    border-color: #ced4da;
  }
  button {
    &:hover {
      background-color: #581697;
      img {
        filter: invert(1) brightness(2);
      }
    }
    img {
      height: 1em;
      margin-right: 0.1em;
      vertical-align: text-bottom;
      transition: filter .15s ease-in-out;
    }
  }
}
#bookSelector {

}
#bookSelector .section {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  gap: 5px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  #bookSelector .section {
    grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
    gap: 1px;
    padding:5px;
    font-size: 90%;
    text-overflow: ellipsis;
    font-weight: normal;
  }
}
.book {
  background-color: #4d375a;
  padding:10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.flex-break {
  flex-basis: 100%;
}

.div {
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
div::-webkit-scrollbar {
  width: 20px;
}
div::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 0px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #000000a4;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 1.749690125em;
  font-weight: 700;
  line-height: 1.25;
}
ul {
  list-style-type: none;
}
a {
  color: #4a6da7;
  text-decoration: none;
}
ol, ul {
  padding-left: 0;
}
.results {
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: #4477a1;
    font-size: 1.2em;
    font-weight: 300;
  }
}
#pagination {
  display: flex;
  gap: 5px;
  a {
    &.active{
      font-weight: bold;
    }
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    color:black;
    background-color: #faf8fc;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover{
      background-color: #4d375a;
      color: white;
    }
    span{
      display: inline-block;
      margin: auto auto;
    }
  }
}
.directory {
  .item{
    min-height: 48px;
    &:not(:first-child) {
      border-top: 1px solid #dbd8d3;
    }
    .active {
      font-weight: bold;
    }
    &:hover, .active {
      background-color: #ffffff;
      .icon {
        width:2em;
      }
      .thumbnail{
        background-color: #af8dd0;
      }
    }
    .thumbnail{
      min-height: 48px;
      width: 48px;
      background-color: #9875b9;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-shrink: 0;
      transition: background 200ms;
      img {
        max-height: 32px;
        max-width: 32px;
      }
      span {
        width: 100%;
        max-height: 32px;
        max-width: 32px;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../images/icons/bk.svg');
      }
      .icon-vod { background-image: url('../images/icons/closed-captioning.svg'); }
      .icon-bi { background-image: url('../images/icons/bible.svg'); }
      .icon-bk { background-image: url('../images/icons/bk.svg'); }
      .icon-bklt, .icon-kn, .icon-brch { background-image: url('../images/icons/brch.svg'); }
      .icon-g { background-image: url('../images/icons/g.svg'); }
      .icon-km, .icon-mwb, { background-image: url('../images/icons/km.svg'); }
      .icon-manual { background-image: url('../images/icons/manual.svg'); }
      .icon-trct { background-image: url('../images/icons/trct.svg'); }
      .icon-w { background-image: url('../images/icons/w.svg'); }
      .icon-web { background-image: url('../images/icons/web.svg'); }
    }
    &.folder {
      .thumbnail {
        background-color: #714f92;
      }
      & ~ .item {
        margin-left: 5px;
      }
    }
    .detail {
      align-self: center;
      margin-right: 1em;
    }
    .arrow {
      align-self: center;
      .icon{
        background-image: url('../images/chevron-right-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width:1em; height: 1em;
      }
    }
    a {
      display: flex;
    }
    .title {
      padding-top: 1em;
      padding-bottom: 1em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      flex-grow: 1;
    }
  }
}
#contents {
  .directory {
    .item {
      &:hover {
        background-color: #faf8fc;
      }
    }
  }
}
mark {
  color: black;
  background-color: #ffe87c;
}
.txtDoc {
  white-space: pre-wrap;
}
.results .ref {
  font-size: .9em;
  color: #999;
  display: inline-block;
  margin-top: 0.3em;
}

body {
  max-width: 1600px;
}
#secondaryNavContent {
  position: fixed;
  top: 124px;
  width:450px;
  height: calc(100vh - 124px);
  overflow-y: auto;
  background-color: #f2f1ef;
  transition: width 0.4s ease-in-out;
  h1 {
    font-size: 1.3em;
    color: #64605d;
    padding: 0.5em 0;
    border-bottom: 1px solid #d6dbe1;
  }
}
#fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1600px;
  z-index: 10;
  box-shadow: 0 2px 2px 0px #0000004d;
}
#fixedHeader .navbar {
  height: 77px;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  .navbar-brand {
    font-size: 30px; //Icon is 2em = 60px
  }
}
#search-form {
  height: 46px;
}

@media only screen and (min-width: 1201px) {
  #regionBody {
    margin-left: 450px;
    padding: 1em 80px 5em 80px;
  }
  #regionMain {
    padding-top: 124px;
    min-height: 100vh;
  }
  #secondaryNavContent {
    position: fixed;
    top: 124px;
    width:450px;
    height: calc(100vh - 124px);
  }
}
@media only screen and (max-width: 1200px){
  #fixedHeader .navbar {
    height: 46px;
    color: white;
    .navbar-brand {
      font-size: 20px; //Icon is 2em = 60px
    }
  }
  #regionBody {
    margin-left: 350px;
    padding: 1em 50px 5em 50px;
  }
  #regionMain {
    padding-top: 92px;
    min-height: 100vh;
  }
  #secondaryNavContent {
    position: fixed;
    top: 92px;
    width:350px;
    height: calc(100vh - 92px);
  }
}
@media only screen and (max-width: 900px) {
  #regionBody {
    margin-left: 300px;
    padding: 1em 50px 5em 50px;
  }
  #secondaryNavContent {
    position: fixed;
    width:300px;
  }
}
@media only screen and (max-width: 800px) {
  #regionBody {
    margin-left: 0;
    padding: 1em 50px 5em 50px;
  }
  #secondaryNavContent {
    z-index: 6;
    position: fixed;
    width:0;
    #sidebarInner {
      width: 320px;
      width: calc(min(450px, 80vw) - 20px);
      float:right;
    }
  }

  #searchBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    touch-action: none;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0);
    transition: visibility 0.4s ease-in-out, background-color 0.4s ease-in-out;
    visibility: hidden;
  }
  #btnSideMenu {
    display: flex !important;
  }
  .showSideMenu {
    #btnSideMenu {
      img {
        transform: scaleX(-1);
      }
    }
    #searchBackdrop {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.50);
    }
    #secondaryNavContent {
      width: 80vw !important;
      max-width: 450px;
      transition: width 0.4s ease-in-out;
    }
  }

}
@media only screen and (max-width: 480px) {
  #regionBody {
    padding: 1em 16px 5em 16px;
  }
}
ul.searchNav {
  font-size: .9em;
}
.searchNav li, .searchNav ul, ul.searchNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.searchNav>li {
  padding: 0.5em 0;
  cursor: pointer;
}
.searchNav>li:hover {
  transition: border,background 200ms;
  background-color: #fff;
}

#searchFilterContainer {
  min-height: 300px;
  overflow-y: auto;
  padding-left: 4%;
}

.searchNav>li:not(:first-child) {
  border-top: 1px solid #dbd8d3;
  border-top-color: rgb(219, 216, 211);
}
.ts {
  color: #999999;
  font-style: italic;
}


#tooltip {
  position: absolute;
  max-width: 30em;
  top: 40vh;
  left: 40vw;
  background-color: white;
  box-shadow: 0 0 40px 5px #000000cc;
  max-height: 50vh;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 10;
  .h3 {}
  #tooltip-body {
    .scripture-header {
      background: #f2f1ef;
      padding: 0.75em 1em;
      color: #581697;
      position: sticky;
      top: 0;
      box-shadow: 0 2px 2px 0px #0000006e;
    }
    p {
      padding: 0.25em 1em 0.25em 1em;
      font-size: 16px;
    }

    b {
      color: #581697;
      font-weight: 700;
      padding-right: 0.25em;
    }
    .serif {
      font-family: 'Merriweather', 'Times New Roman', serif;
    }
  }
}