 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:4pt Times New Roman, serif; }
 .font1 { font:5pt Times New Roman, serif; }
 .font2 { font:6pt Times New Roman, serif; }
 .font3 { font:7pt Times New Roman, serif; }
 .font4 { font:8pt Times New Roman, serif; }
 .font5 { font:9pt Times New Roman, serif; }
 .font6 { font:10pt Times New Roman, serif; }
 .font7 { font:11pt Times New Roman, serif; }
 .font8 { font:12pt Times New Roman, serif; }
 .font9 { font:13pt Times New Roman, serif; }
 .font10 { font:14pt Times New Roman, serif; }
 .font11 { font:15pt Times New Roman, serif; }
 .font12 { font:19pt Times New Roman, serif; }
 .font13 { font:24pt Times New Roman, serif; }
 .font14 { font:27pt Times New Roman, serif; }
 .font15 { font:28pt Times New Roman, serif; }
 .font16 { font:30pt Times New Roman, serif; }
